
<div class="card main-container">
  <h3 class="card-header">Training List for <%= @trainee.email %></h3>
  <div class="card-block">
    <% @trainings.each do |t| %>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary"><%= t.t_date %></span>
          <%= link_to t.title, user_training_path(current_user, t), class: "card-link" %>
          
        </li>
      </ul>

    <% end %>
  </div>
</div>
</br>
<%= paginate @trainings %>
<div><%= link_to "Training Calender", user_t_plan_show_path(user_id: current_user.id), class: "btn btn-primary" %></div>