
<div class="card custom-card">
  <div class="card-body">
    <h4 class="card-title">Title: <%= @training.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted">Date: <%= @training.t_date %></h6>
    <p class="card-text">Training: <%= @training.body %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Länge: <%= @training.length %> km</li>
      <li class="list-group-item">Schwierigkeit: <%= @training.difficulty %> / 10</li>
    </ul>
    
  </div>

</div>
<div class="bottom-nav">
  <span><%= link_to "Training List", user_training_index_path(user_id: @trainee.id), class: "btn btn-primary" %></span>
  <span><%= link_to "Training Calender", user_t_plan_show_path(user_id: @trainee.id, start_date: @training.t_date), class: "btn btn-secondary" %></span>
</div>