Training#show
<p>Datum: <%= @training.t_date %></p>
<p>Title: <%= @training.title %></p>
<p>Training: <%= @training.body %></p>
<p>Länge: <%= @training.length %> km</p>
<p>Schwierigkeit: <%= @training.difficulty %> / 10</p>