
  <nav class="navbar navbar-expand-lg navbar-light">
    <a><%= link_to "Traininplan", root_path, class: "navbar-brand" %></a>
   <!--  <div class="collapse navbar-collapse"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a><%= link_to "Home", root_path, class: "nav-link" %> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav"> 
        <% if current_user %>
          <li class="nav-item">
            <a><%= link_to "User Settings", user_path(current_user), class: "nav-link" %></a>
          </li>
          <li class="nav-item">
            <a><%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?'}, class: "nav-link" %></a>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <a><%= link_to "Show Users", users_path, class: "nav-link" %></a>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <a><%= link_to "Register", new_user_registration_path, class: "nav-link" %></a>
          </li>
          <li class="nav-item">
            <a><%= link_to "Log in", new_user_session_path, class: "nav-link" %></a>
          </li>
        <% end %>
      </ul>
    </div>
<!--   </nav> -->
  <div class="row align-items-start">
    <div class="col">
      <%= image_tag("header_img.png", class: "img_header") %>
    </div>
  </div>
  

