
  <nav class="navbar navbar-expand-lg navbar-light">
    <a><%= link_to "Traininplan", root_path, class: "navbar-brand" %></a>
   <!--  <div class="collapse navbar-collapse"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a><%= link_to "Home", root_path, class: "nav-link" %> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav"> 
        <% if current_user %>
          <%= render 'shared/logged_in_nav' %>
          <% if current_user.admin? %>
            <%= render 'shared/admin_logged_in_nav' %>
          <% end %>
        <% else %>
          <%= render 'shared/not_logged_in_nav' %>
        <% end %>
      </ul>
    </div>
<!--   </nav> -->
  <div class="row align-items-start">
    <div class="col">
      <%= image_tag("header_img.png", class: "img_header") %>
    </div>
  </div>
  

